body  {
  background-color: white;
}

#header {

  background-color: #a00de0;
  height: 200px;
  padding-top: 15px;
  padding-left: 20px;
  justify-items: center;
}

#nav-bar {
     display: flex;
     flex-direction: row;
     float: right;
     
}

.nav-link {
    padding: 10px; 
    margin: 5px; 
    
}

.nav-btn {
  padding: 10px;
  margin: 0px;
}

.anchor-link {
 text-decoration: none;
}

#email {

  margin: 0 10px;
  padding: 5px;
}

#submit {
  padding: 5px;
}

#name-field {
  /* padding: 3px 30px; */
  width: 20vw;
}

.fill-form {

  margin: 20px;
  
}

.add-link {
  text-decoration: none;
}

.contact-it {
  margin: 50px 0 0 20px;
}
 
/* styles for product page */
.get-product{
  display: flex;
  margin: 20px 0 0 30px;
  
}

.my-product {
  padding: 10px;
}

#prod-phone {
  padding: 5px 5px;
  background-color: greenyellow;
}

#prod-laptop {

  padding: 10px 5px;
  background-color: greenyellow;
}

@media screen and (max-width: 480px) {
  body {
    background-color: hotpink;
  }

  .nav-link {
    padding: 2px; 
    margin: 2px; 
    
}

#nav-bar {
  display: flex;
  flex-direction: row;
  float: right;
  position: relative;
}

.nav-btn {
  padding: 5px;
  margin: 0px;
}
}

/* @media screen and (max-width: 992px) {
  body {
    background-color: gray;
  }
} */